<div class="header">
    <div class="header__title">
        <img src="https://seeklogo.com/images/D/dragonball-super-logo-50D69460FA-seeklogo.com.png" class="header__img-title">
    </div>
    <div class="header__options">
        <div class="header__option" *ngFor="let option of headerOptionsList; let i = index">
            <ng-container *ngIf="i > 0">{{ option }}</ng-container>
        </div>
    </div>

    <div class="header__search">
        <form class="d-flex" (submit)="onSearch(searchInput.value); searchInput.value=''; $event.preventDefault();">
            <input #searchInput class="form-control me-2" type="search" [placeholder]="'search_character' | translate" aria-label="Search">

            <button class="btn" type="submit">{{ 'search'| translate }}</button>
        </form>
    </div>
</div>
